:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  font-family: "poppins";
  margin: 0;
  padding: 0% 15%;
  min-height: 100vh;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: green;
}

/* 1DB954 - spotify green */
/* 191414 - spotify black  */
/* FFFFFF - spotify white  */
